<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Writing Tracker</title>
    </head>
    <body>
        <p>Your word count for the past seven days is <span id='total-wordcount'>{{ seven_day_count }}</span></p>
        <h2 id="confirmation" class="alert-success">Well done!</h2>
        <article>
            <h3>Your writing on {{ entry.date.strftime('%d %B %Y') }}</h3>
            <ul>
                <li>{{ entry.word_count }} words of {{ entry.genre }}.</li>
                <li>Notes: {{ entry.notes }}</li>
            </ul>
        </article>
        <a href="{{ uri_for('home') }}">Return to your home page</a>.
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </body>
</html>

