<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Writing Tracker</title>
    </head>
    <body>
        <p>Your word count for the past seven days: <span id='total-wordcount'>0</span></p>
        <h2 id="invitation">Tell us what you've done!</h2>
        <!-- date wordcount genre note -->
        <form method="POST" action="/entry/">
            <label for="date">Date<input type="date" id="date" name="date"></label>
            <label for="word-count">Word count<input type="number" id="word-count" name="word-count"></label>
            <label for="genre">Genre
                <select id="genre" name="genre">
                    <option value="short fiction" name="short-fiction">Short fiction</option>
                    <option value="novel draft" name="novel-draft">Novel draft</option>
                    <option value="non fiction" name="non-fiction">Non-fiction</option>
                    <option value="academic writing" name="academic-writing">Academic writing</option>
                    <option value="blog" name="blog">Blog</option>
                </select>
            </label>
            <label for="notes"><textarea id="notes" name="notes" placeholder="notes"></textarea></label>
            <button id="submit" type="submit" name="submit">Done</button>
        </form>
        <hr>
        {% for entry in entries %}
        <article>
            <h3>Your writing on {{ entry.date.strftime('%d %B %Y') }}</h3>
            <ul>
                <li>{{ entry.word_count }} words of {{ entry.genre }}.</li>
                <li>Notes: {{ entry.notes }}</li>
            </ul>
        </article>
        {% endfor %}
    </body>
</html>
