<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Writing Tracker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body class="container">
        <header>
            <h1>Choose your login method</h1>
        </header>
        <div>
            <a href="/auth/google" class="btn">Google</a>
            <a href="/auth/twitter" class="btn">Twitter</a>
            <!-- not ready for facebook yet -->
            <!--<a href="/auth/facebook" class="btn">Facebook</a>-->
        </div>
        {% include "includes/scripts.html" %}
    </body>
</html>
